.App {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* -------- CB ---------
*/

.date {
  font-weight: 700;
  color: #FB7AA5;
}

.App-container {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
}

.App-content {
  display: flex;
  flex-direction: column;
  margin: 0 15px 30px 15px;
  
}


input:focus {
  /* ...existing styles */
  box-shadow: 5px 5px #FB7AA5;
}

input {
  /* ...existing styles */
  transition: 180ms box-shadow ease-in-out;
  width: 80px;
  height: 25px;
}
/* .input:focus {
  outline: 3px solid transparent;
} */